.header{
    background-color: white;
    width: 100%;
    padding: 10px;
    .heder_title{
        float: left;
        margin-right: 30px;
    }
    .header_font{
        font-size: 13px;
        color: #7D7D7D;
    }
    .header_count{
        font-size: 19px;
        color: black;
    }
}